<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    
    {% load static %}
     <link href="{% static '/css/stock-app-style.css' %}"  type="text/css" rel="stylesheet"  >

   
     
    <meta charset="utf-8" />
    <title>Stock Management Application</title>
</head>
<body>
<nav class="navbar navbar-default navbar-expand-sm bg-dark navbar-dark  navbar-toggleable-md" >
  <a class="navbar-brand" href="{% url 'stock_view' %}">Stock Management App</a>
 
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stock_view' %}">Stock Count</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stock_report' %}">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Forecasting Tools</a>
      </li>    
    </ul>
   
</nav>


    {% block content %}



    {% endblock %}
</body>
</html>