.product-width
{
    width: 30em;  
}

.quantity-width
{
    width: 10em;
}

th
{
    text-align: center;
}

.btn {
   
    
    text-decoration: none;
    background-color: lightgreen;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 0;
    margin-bottom: 1em;
    
}

.submit {
    background-color: lightsalmon;
}

input.placeholder {
    text-align: center;

}

#result_message
{
    
    color: red;
    text-align: center;

}

