{% extends 'base.html'%}
{% block content %}
<h1 class="text-center">The stock Count Application</h1>
<div class="d-flex justify-content-center">
    <div>
        
        <form action="update" method="POST"> {% csrf_token %}
        
          
        <div class="d-flex justify-content-between">
        <div> <a class="btn" href="{% url 'create' %}"  >New Entry</a>    </div>   
            
         <div class="">  <input class="placeholder" id="searchId" type="text"  name="search" value="" size="30" placeholder="search product"/>  </div>
            

        <div  >  <input class="submit" type="submit" value="Update Quantity" /> </div>
        </div> 

        <h3  id="result_message" style="display:none">No results found</h3>

<table class="table-striped table-bordered" >
    <thead>
        <tr>
            <th>Product Name </th>  <th>Current Quantity</th> <th>New Quantity</th>
        </tr> 
    </thead>
    <tbody id="product_table">


      
        {% for food in obj %}
            <tr>
                <td class="product-width"> <b>{{food.foodName}}</b> - <i>last updated on: {{food.dateTime}}</i></td> <td class="quantity-width">{{food.quantity}}</td> 
                <td>   
                    <input type="number" min="0" name="{{food.id}}" value="" />
                 

                </td>
               
            </tr>
    
        {% endfor %}

    
    </tbody>

</table>

        </form>
        
            
</div>
    </div>
{% load static %}
<script src="{% static '/script/stock_script.js' %}"></script>



{% endblock %}
